<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 绑定一个对应的mapper接口-->
<mapper namespace="com.mapper.UserMapper">

    <!--id 方法名   resultType 返回值，需要写全限定名-->
    <select id="selectUser" resultType="com.pojo.User">
        SELECT * FROM user;
    </select>

    <select id="getUserById" parameterType="int" resultType="com.pojo.User">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <select id="getUserByName" parameterType="string" resultType="com.pojo.User">
        select * from user where name like #{name};
    </select>

    <insert id="addUser" parameterType="com.pojo.User">
        INSERT INTO user(name, age, address) VALUE (#{name},#{age},#{address});
    </insert>

    <update id="updateUserAgeById" parameterType="com.pojo.User">
        update user set  age=#{age}  where id=#{id} ;
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>
</mapper>
