<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 绑定一个对应的mapper接口-->
<mapper namespace="com.mapper.UserMapper">

    <!--结果集映射-->
    <resultMap id="userMap" type="user">
        <!--column 数据库中的字段； property 实体类中的值-->
        <result column="address" property="adr"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultMap="userMap">
        SELECT * FROM user WHERE id=#{id}
    </select>


    <select id="getLimitUser" parameterType="map" resultType="com.pojo.User">
        select * from user limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserByRowBounds" resultType="com.pojo.User">
        select * from user;
    </select>

</mapper>
